@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
    width: 90%;
}

p {
    font-size: 20px;
}

select {
    font-size: 14px;
    height: 20px;
}

button {
    height: 40px;
}

.chart-controls-flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.chart {
    width: 1000px;
    height: 400px;
}

.center {
    margin: auto;
    width: inherit;
}

.fine-print {
    font-size: 14px;
}

.logo {
    height: 100px;
    width: auto;
    padding-top: 20px;
}